.container {
	display: flex;
	justify-content: center;
}

.calculator-box {
	width: 400px;
	height: 650px;
	background-color: #291b7a;
	border: 1px solid black;
}

.display-number {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.display-number div {
	display: flex;
	justify-content: end;
	align-items: center;

	padding-left: 10px;
	padding-right: 10px;
	height: 75px;
	color: white;
	font-size: 36px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.button-box {
	width: 100%;
	height: 500px;
}

.button-box button {
	width: 100px;
	height: 100px;
	font-size: 36px;
	color: white;
	background-color: #3b27ae;
}

.button-box button:hover {
	cursor: pointer;
	background-color: #2e1f82;
}
